<div class="card text-center">
	<div class="card-body">
		<h6 class="card-title">Amário 3</h6>

		<div class="container">
			<div class="row">

				<div class="col border border-primary">
					<div class="row">

						<!-- Gavetas 1 primeira coluna -->

						<div class="col-3 col-sm-4 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta A
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta B
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- fim da primeira coluna -->

								<!-- Começo da segunda coluna -->
								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- fim da sugunda coluna -->

								<!-- Começo da terceira coluna -->
								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim da terceira coluna -->
							</div>
						</div>
						<!-- Segunda linha gaveta 1 -->
						<div class="col col-sm-4 border border-primary">
							<div class="row">
								<!-- primeira coluna -->
								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim -->

								<!-- Começo da segunda coluna -->
								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim -->

								<!-- Começo da terceira coluna -->
								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim -->
							</div>
						</div>
						<!-- Terceira linha -->
						<div class="col col-sm-4 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim -->

								<!-- Começo da segunda coluna -->
								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim -->

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
				<!-- lado direito primeira linha -->
				<div class="col border border-primary">
					<div class="row">
						<!-- começo da primeira linha -->
						<div class="col-3 col-sm-4 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim da linha -->
							</div>
						</div>
						<!-- Segunda lina -->
						<div class="col-3 col-sm-4 border border-primary">
							<!-- Começo da segunda linha -->
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim da segunda linha -->
							</div>
						</div>
						<!-- Terceira lina  -->
						<div class="col-3 col-sm-4 border border-primary">
							<div class="row">
								<!-- Começo da terceira limha -->
								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1" style="margin-top: 15px;">Gaveta
											C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 60px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 15px; color: blue;">Gaveta C
										</a>
									</div>
								</div>
								<!-- Fim da terceira limha -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Gavetas 2 -->

		<div class="container">
			<div class="row">
				<div class="col border border-primary">
					<div class="row">

						<div class="col-3 col-sm-7 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-5 border border-primary">
							<div class="row">

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-7 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-5 border border-primary">
							<div class="row">

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-7 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-5 border border-primary">
							<div class="row">

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
				<div class="col border border-primary">
					<div class="row">
						<div class="col-3 col-sm-7 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-5 border border-primary">
							<div class="row">

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-7 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-5 border border-primary">
							<div class="row">

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-7 border border-primary">
							<div class="row">

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-4 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

						<div class="col-3 col-sm-5 border border-primary">
							<div class="row">

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-6 bg-gradient-light border border-primary" style="height: 80px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 30px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Gavetas 3 -->
		<div class="container">
			<div class="row">
				<div class="col border border-primary">
					<div class="row">
						<div class="col-4 col-sm-12 border border-primary">

							<div class="row">

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
				<div class="col border border-primary">
					<div class="row">
						<div class="col-4 col-sm-12 border border-primary">

							<div class="row">

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

								<div class="col-sm-3 bg-gradient-light border border-primary" style="height: 70px;">
									<div class="row">
										<a href=""
											class="btn btn-gradient-primary btn-block btn-sm col-sm-12 badge badge- text-wrap"
											data-toggle="modal" data-target="#modal_1"
											style="margin-top: 20px; color: blue;">Gaveta C
										</a>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br>


<!-- Modals -->

<!-- Modal de lista de produtos -->
<!-- <div class="containerfluid"> -->
<div class="modal fade" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Lista de Material</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-1">
							<h5>Itens</h5>
						</div>

						<div class="col-sm-8">
							<span class="sr-only">(current)</span>
						</div>

						<div class="col-sm-3">
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
								data-target="#Incluir">Incluir Material</button>
						</div>

					</div>
					<!--/#top -->
					<hr>

					<div class="row">

						<div class="table-responsive col-sm-12 text-center">
							<table class="table table-hover table-sm" cellspacing="0" cellpadding="0">
								<thead>
									<tr class="table-primary">
										<th scope="col">Modelo</th>
										<th scope="col">Parte Number</th>
										<th scope="col">Descrição</th>
										<th scope="col">Cor</th>
										<th scope="col">Quantidade</th>
										<th scope="col" class="actions">Ação</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>a</td>
										<td>b</td>
										<td>c</td>
										<td>d</td>
										<td>26</td>
										<td class="actions">
											<input type="number" name="Qtd" class="col-sm-2">
											<a href="" class="btn btn-primary btn-sm">Retirar</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div> <!-- /#Lista -->

					<div class="row">

						<nav class="col-sm-12 Page navigation">
							<ul class="pagination justify-content-center pagination-sm">
								<li class="page-item"><a href="#" class="page-link"> Anterior </a></li>
								<li class="page-item"><a href="#" class="page-link">1</a></li>
								<li class="page-item"><a class="page-link">2</a></li>
								<li class="page-item"><a class="page-link">3</a></li>
								<li class="page-item"><a href="#" role="next" class="page-link"> Proximmo </a></li>
							</ul>
						</nav>

					</div> <!-- /#botos -->

				</div>

			</div>
			<div class="modal-footer">
				<!-- <button class="font-weight-bold btn btn-gradient-primary btn-sm sidebar-heading">Adicionar :</button> -->
				<!-- <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#Incluir">Incluir Material</button> -->

			</div>
		</div>
	</div>
</div>


<!-- Mode de Inclusão de material -->
<div class="modal fade" id="Incluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Inclusão de Material</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">


				<div class="container-fluid">
					<form>
						<div class="row">
							<div class="form-group col-sm-6">
								<label for="modelo">Modelo :</label>
								<select class="form-control form-control-sm">
									<option>Selelcione</option>
								</select>
							</div>

							<div class="form-group col-sm-6">
								<label for="Descricao">Parte Number :</label>
								<select class="form-control form-control-sm">
									<option>Selecione</option>
								</select>
							</div>

							<div class="form-group col-sm-12">
								<label for="descricao">Descrição :</label>
								<select class="form-control form-control-sm">
									<option>Selecione</option>
								</select>
							</div>

							<div class="form-group col-sm-4">
								<label for="cor">Cor :</label>
								<select class="form-control form-control-sm">
									<option>Selecione</option>
								</select>
							</div>

							<!-- <div class="form-group col-sm-5">
	      					<span class="sr-only">(current)</span>
	      				</div> -->

							<div class="form-group col-sm-3">
								<label for="quantidade">Quantidade:</label>
								<input type="number" name="Qtd" class="form-control form-control-sm">
							</div>

							<div class="form-group col-sm-12">
								<label for="observacao">Observação :</label>
								<input type="text" name="Obs" class="form-control form-control-sm" maxlength="60">
							</div>

						</div>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm " data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary btn-sm" value="cardastrar">Salvar</button>
			</div>
		</div>
		</form>
	</div>
</div>