







<div class="card">
	<div class="card-header">
		Cadastro da Descrição
	</div>
	<div class="card-body">
		<div class="card text-center" style="width: 30rem; height: 15rem; margin: auto;">
			<div class="card-body">
				<br>
				<form>
					<div class="form-group">
						<label for="Modelo">Descrição</label>
						<input type="modelo" class="form-control" id="Modelo" aria-describedby="Modelo" maxlength="35">
						<small id="Modelo" class="form-text font-italic">Preenchas os dados da descrição.</small>
					</div>
					<button type="submit" class="btn btn-primary btn-block btn-sm">Confirmar os dados da descrição</button>
					<button type="submit" class="btn btn-secondary btn-block btn-sm">Cancelar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="card-footer">
		SGE
	</div>
</div>
<br>
